<link rel="stylesheet" href="/css/style.css">



<form method="post" action="/post/edit" class="my-form">

<fieldset class="form-group">
<label for="">Title</label>
<input type="text" value="{{post.title}}" name="title" id="title" class="form-control">
</fieldset>

<fieldset class="form-group">
<label for="">body</label>
<textarea  id="body" name="body" class="form-control" required cols="100" rows="100">{{post.body}}</textarea>
</fieldset>

<input type="hidden" value="{{post.id}}" name="post_id" id="">

<input class="btn btn-primary" type="submit" value="Edit Submit">

</form>