
    <main>
      <h1>Latest Blog Posts</h1>
      {{#each posts}}
        <div class="blog-post">
          <h2><a href="/models/Post.js/{{this.id}}">{{this.title}}</a></h2>
          <p>{{this.body}}</p>
        </div>
      {{/each}}  

      <form action="">

        {{!-- enter blog post form here --}}


        {{!-- enter comment post form here --}}


      </form>
    </main>
    



     {{!-- WHEN I click on an existing blog post
THEN I am presented with the post title, contents, post creator’s username, and date created for that post and have the option to leave a comment --}} --}}


{{!-- 
WHEN I enter a comment and click on the submit button while signed in
THEN the comment is saved and the post is updated to display the comment, the comment creator’s username, and the date created --}}