<link rel="stylesheet" href="/css/style.css">


        <h1>Sign Up</h1>
        <form method="POST" action="/signup" class="my-form">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br>

        <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>










{{!-- WHEN I choose to sign up
THEN I am prompted to create a username and password
WHEN I click on the sign-up button
THEN my user credentials are saved and I am logged into the site --}}