h1 {

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    color: whitesmoke;

}


h2 {

    color: whitesmoke;
   
}



.my-form {

    margin-top: 20px;

}


.my-form fieldset {

    border: none;

}

.my-form label {

    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 5px;

}

.my-form input[type="text"],
.my-form textarea {

    width: 25%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 10px;

}


.my-form input[type="submit"] {
    
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;

}

.my-form input[type="submit"]:hover {

    background-color: #0069d9;

}


.btn {

    margin-top: 20px;

}




.body {

    background-image: url('https://marketingweek.imgix.net/content/uploads/2020/04/30131838/Digital-shift-scaled.jpg');
    
}




footer {

    color: whitesmoke;
    margin-top: 20px;

}



