.header {

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: whitesmoke;
    font-size: 60px;
}

.li {

    color: cornflowerblue;
}



h1 {

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    color: whitesmoke;

}


h2 {

    color: whitesmoke;
    font-size: 36px;
   
}

h3 a{
    color:  whitesmoke;
}

.form-group {

    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 24px;
    margin-bottom: 10px;
    color: black;

}

.my-form {

    margin-top: 20px;

}


.my-form fieldset {

    border: none;

}

.my-form label {

    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 5px;
    color: whitesmoke;
    font-size: 24px;

}

.my-form input[type="text"],
.my-form textarea {

    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 24px;
    margin-bottom: 10px;

}


.my-form input[type="submit"] {

    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;

}

.my-form input[type="submit"]:hover {

    background-color: #0069d9;

}


.btn {

    margin-top: 20px;

}

#latest-blog-posts {

    color: whitesmoke;

}

.body {

    background-image: url('https://th.bing.com/th/id/R.1dee41581fcbeb78df12af3220ded4a1?rik=BPLRJAOdwELd6Q&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2f4%2f5%2fc%2f29361.jpg&ehk=y%2bRAkHJkNwRfPGTal2kgPZ%2bSA29Fn%2bbTsWm7PaXIlEk%3d&risl=&pid=ImgRaw&r=0');

    
}

.logoutpage {

    background-image: url('https://th.bing.com/th/id/R.a4910e190cd7274d4309dc47084556cd?rik=JOmY21E13hADCQ&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fsLQDF8r.jpg&ehk=lGa6eCh3zJTWis1pi6iwMkIjE0luEFBhUnYCT6hRJOA%3d&risl=&pid=ImgRaw&r=0');


}

p {

    color: whitesmoke;
}

footer {

    color: whitesmoke;
    margin-top: 40px;

}



.ul {

    color: cornflowerblue;
}



ul {

    color: cornflowerblue;
}

.card{
    padding: 10px;
}
.card h1{
    color: black;
}
.card p {
    color: black;
}
.card h3 a{
    color: cornflowerblue;
}